<template name="snippets">
	{{> navigation}}
	<h1>Snippets</h1>
</template>
<template name="snippet">
	<h1>Snippet {{title}}</h1>
</template>
<template name="editSnippet">
    <div class="modal large fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Link</h4>
                </div>

                <div class="modal-body">
                	<form>
                		<div class="form-group">
                			<label for="title">Title</label>
                			<input type="text" class="form-control" id="title" value="{{title}}"/>
                		</div>
                		<div class="form-group">
                			<label for="tags">Tags</label>
                			TAG EDITOR
                		</div>
                		<div class="form-group">
                			<label for="rating">Rating</label>
                			TAG EDITOR
                		</div>
	            		<div class="form-group">
                			<label for="description">Description</label>
                			<textarea class="form-control" style="height: 140px" id="description">{{description}}</textarea>
                		</div>
	            		<div class="form-group">
                			<label for="content">Code</label>
                			<div>
                				<textarea class="form-control" style="height: 340px" id="code">{{content}}</textarea>
                			</div>
                		</div>
                	</form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>