<template name="dashboardBox">
	<div>
		<input type="text" class="filter form-control" value="{{filter}}"/>
	</div>
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th style="width: 80px"></th>
					<th class="sortable" sort="rating">Rating</th>
					<th class="sortable" sort="title">Title</th>
					<th class="sortable" sort="content">Content</th>
				</tr>
			</thead>
			<tbody>
			{{#each links}}
				<tr class="item" itemid="{{_id}}" type="{{type}}">
					<td style="width: 80px">
						<button  itemid="{{id}}" type="{{type}}" class="edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
						<button  itemid="{{id}}" type="{{type}}" class="remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					</td>
					<td style="width: 110px">
						{{> rating}}
					</td>
					<td style="width: 400px">
						<span class="label label-primary">{{type}}</span> <a href="{{titleUrl}}" target="{{titleTarget}}">{{title}}</a>
						{{> dashboardTags}}
						<small><p>{{description}}</p></small>
					</td>
					<td>
						{{> UI.dynamic template=template}}
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</template>
<template name="dashboardLink"><a href="{{contentUrl}}" target="{{contentTarget}}">{{content}}</a></template>
<template name="dashboardSnippet">
	<div class="buttons" style="float: left">
		<button class="toggle"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></button>
	</div>
	<div style="display: none">
		<pre class="pre-scrollable">{{content}}</pre>
	</div>
</template>
<template name="dashboardTags">
	<div>
	{{#each tags}}
		<a href="/tag/{{tag}}" class="label label-default">{{tag}}</a>
	{{/each}}
	</div>
</template>
<template name="rating">
	<div class="rating" rating="{{rating}}">
		<span class="star star-1 glyphicon glyphicon-star-empty" aria-hidden="true"></span>
		<span class="star star-2 glyphicon glyphicon-star-empty" aria-hidden="true"></span>
		<span class="star star-3 glyphicon glyphicon-star-empty" aria-hidden="true"></span>
		<span class="star star-4 glyphicon glyphicon-star-empty" aria-hidden="true"></span>
		<span class="star star-5 glyphicon glyphicon-star-empty" aria-hidden="true"></span>
	</div>
</template>